@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root{
 --main-background: rgb(77, 75, 75);
 --main-text-color: #e7e9e6;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(236, 235, 233);
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: red;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-corner {
    display: none;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--main-background);
    color: var(--main-text-color);
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.header-container {
    margin-top: 200px;
    text-align: center;
}

.input-container {
    text-align: center;
}

.output-container {
    text-align: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    font-family: "Rowdies", sans-serif;
    color: rgb(255, 0, 0);
    
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e73d3d;
    color: white;
    font-family: "Rowdies", sans-serif;
    cursor: pointer;
}

#search-button:hover{
    border: 1px solid white;
}

@-moz-document url-prefix() {
    button {
      margin-bottom: 20px; 
    }
  }

.poke-infos{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    width: 460x;
    padding: 15px;
    border-radius: 5px;
    
}
.poke-infos-display{
    background-color: #575555;
    box-shadow: 0 0 5px #000;
    border-left: 10px solid #000;
}
.poke-infos p{
    width: 410px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 3rem;
    text-shadow: 0px 0px 5px black;
}

p {
    font-size: 1rem;
    margin-bottom: 5px;
    white-space: pre;
    font-weight: 700;
}

#sprite{
    width: 126px;
    height: auto;
}

br{
    height:12px;
    background-color: beige;
}


@media screen and (max-width: 600px) {
    #search-input {
        width: 80%;
    }
    #search-button {
        width: 20%;
        margin-top: 15px;
    }
}
@media screen and (max-width: 425px) {
    .poke-infos p{
        width: 300px;
    }
}

.red{
    color: #db0e0e;
}

.wrap{
    text-wrap: wrap;
}